/* import "../styles/HomePage.css"; */
.home-page { 
  padding: 12px 0; 
}

.subtitle {
  margin-top: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; 
}

.portfolio {
  margin-bottom: 40px;
  height: auto;
}


@media (max-width: 920px) { 
  .home-page { 
    grid-template-columns: repeat(2,1fr); 
  } 

}
@media (max-width: 520px) {
  .home-page { grid-template-columns: 1fr; }
}

@media (max-width: 1100px) {
    .layout-content {
        margin-right: 40px;
    }
}