/* import "../styles/NavBar.css"; */

/* ---top-nav --- */
.top-nav {
  position: fixed;
  top: 15px;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 80px;
  padding: 10px 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  /* on top of everything */
  z-index: 1000;

  /* Glass style */
  background: rgba(20, 20, 20, 0.078);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.027);
}

.nav-inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  flex-wrap: wrap;
}

/* Left logo */
.nav-left {
  display: flex;
  align-items:  center;
  flex-shrink: 0;
}

.nav-logo {
  width: 120px;
  max-width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 12px;
  object-fit: cover;
  cursor: pointer;
}

/* Centre menu */
.nav-center {
  display: flex;
  justify-content: center;

}

.nav-list {
  display: flex;
  gap: 28px;
  list-style: none;
  padding: 0;
  margin: 0;

}

.nav-item {
  cursor: pointer;
  color: var(--text-subtle);
  transition: 0.25s ease;
  font-size: 2rem;
}

.nav-item:hover {
  color: white;
}

.nav-item.active {
  border-bottom: 3px solid var(--accent-1);
  color: white;
}

/* Right nav social media icons */
.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.social-link svg {
  font-size: 30px;
  color: #8da0ff;
  transition: 0.25s ease;
}
.social-link svg:hover {
  transform: scale(1.2);
  color: white;
}

/* social icons center  */
.theme-toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 20px;
  transition: 0.2s ease;
}


.theme-toggle-btn:hover {
  transform: scale(2) ;
  opacity: 0.8;
}

/* Mobile - responsive  */

@media (max-width: 900px) {

  .top-nav {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .nav-logo {
    width: 90px;
  }

  .nav-inner {
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding-bottom: 10px;
    /* gap: 14px;
    margin-bottom: auto; */
  }

  /* center menu becomes vertical */
  .nav-center, 
  .nav-list  {
    width: 100%;

  }

  .nav-list {
    /* width: 100%; */
    flex-direction: column;  
    align-items: center;
    gap: 16px;
  }

  /* .nav-item {
    font-size: 1.2rem;
    padding: 6px 0;
    text-align: center;
    gap: 18px; 
  } */

/* social icons center on mobile */
  .nav-right {
    justify-content: center;

  }
}

