/* import "../styles/ProfileCard.css"; */

:root {
  --glass-shadow: 15px 20px 32px rgba(255, 255, 255, 0.765);
}


.profile-card {
  width: 100%;
  background: var(--glass-bg);
  border: 1px solid var(--glass-border);
  border-radius: 14px;
  padding: 18px;
  color: var(--muted);
  box-shadow: 0 8px 20px rgba(0,0,0,0.45);
  display: flex;
  flex-direction: column;
  gap: 20px;

  transition: all 0.3 ease;
}

.profile-photo {
  flex: 0 0 180px;
  width: 100%;
  height: 250px;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 14px;
  border: 2px solid rgba(255,255,255,0.08);

  align-self: flex-end;
}

.profile-photo img {
  height: 100%;
  object-fit: cover;
  display: block;
}

.profile-info h2 {
  margin: 4px 0 6px;
  font-size: 3rem;
  color: #fff;
}

.role {
  color: #ffd6e0 !important;
  margin-bottom: 20px;
}

.profile-info p {
  margin: 6px 0;
  font-size: 1.2rem;
  color: var(--muted);
}

/* Social links */
.social-links {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 10px 0 16px;
}

.social-links a {
  color: #ffd670;
  text-decoration: none;
  font-size: 1.8rem;
}

.cv-btn {
  display: block;
  width: 100%;
  text-align: center;
  background: linear-gradient(90deg, var(--accent-1), var(--accent-2));
  padding: 10px 12px;
  border-radius: 10px;
  font-weight: bold;
  color: #111;
  text-decoration: none;
  margin-top: 12px;
}


@media (min-width: 768px) {
  .profile-card {
    flex-direction: row;         
    align-items: flex-start;
  }

  .profile-photo {
    order: 2;                     
    margin-left: auto;
  }

  .profile-info {
    order: 1;
    padding-right: 20px;
  }
}