/* import "../styles/ProjectCard.css"; */

/* Card Wrapper */
.project-card {
  flex: 1;
  min-width: 300px;
  display: flex;
  gap: 24px;
}

/* Media side  */
.project-media {
  width: 45%;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-thumbnail,
.project-video {
  width: 100%;
  border-radius: 14px;
  object-fit: cover;
  border: 1px solid rgba(255,255,255,0.1);
}

/* Body */
.project-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.project-title {
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--accent-white);
  margin-bottom: 10px;
  padding: 6px;
  align-items: center;
  text-align: center;

}



.project-desc {
  font-size: 1.2rem;
  color: var(--text-main);
  margin-bottom: 20px;
  padding: 5px;

}

.project-desc:hover {
  color: bold;

}

/* Technologies*/
.project-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
}

.tech-chip {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  background: rgba(74, 68, 68, 0.08);
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.12);
}

.tech-icon {
  font-size: 1.8rem;
}

/* Links*/
.project-links {
  display: flex;
  gap: 20px;
  margin-top: auto;
}

.link-btn {
  background: linear-gradient(90deg,#ff70a6,#ff9770);
  padding: 8px 16px;
  border-radius: var(--bradius);
  font-weight: 600;
  text-decoration: none;
  transition: opacity 0.25s ease;
  color: black;
  margin: 15px;
}


.light .link-btn {
  background: var(--dark-background);
  color: var(--text-main);
}


/* Mobile responsive */
@media (max-width: 850px) {
  .project-card {
    flex-direction: column;
  }

  .project-media {
    width: 100%;
  }
}
