/* import "../styles/Skills.css"; */

.skills-page { 
  padding: 12px 0; 
}

.skills-grid {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}


.skill-card {
  display:flex;
  align-items:center;
  gap: 12px;
  padding: 10px;
  border-radius: var(--bradius);
  background: var(--background-subtle);
  margin-bottom: 30px;

  cursor: pointer;
  transition: transform 0.15s ease, background 0.15s ease, box-shadow 0.15s ease;
}


.dark .skill-card:hover {
  transform: translateY(-3px);
  box-shadow:var(--accent-1);
}

.light .skill-card:hover {
  transform: translateY(-3px);
  box-shadow:var(--glass-shadow);
}

/* Icon inside skill card */
.skill-icon {
  width: 22px; 
  height: 22px; 
  color: var(--bground-linear); 
}


/* selected icon active */
.skill-card.active {
  border: 2px solid var(--accent-1);
  transform: scale(1.03);
}

.skill-card.active .skill-icon {
  color: var(--accent-1);

}

.light .skill-card.active {
background-color: white;
}

/* Text color of icon */
.skill-card.active span {
  color: var(--accent-1);
}

.light .skill-card.active span {
  color: black;

}

/* Reset button */
.reset-btn {
  margin: 20px auto;
  display: block;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  background: var(--accent-1);
  color: black;
  font-weight: bold;
  border-radius: var(--bradius);
  transition: 0.2s ease;
}

.reset-btn:hover {
  transform: scale(1.05);
  background: white;
}

.light .reset-btn {
  background: black;
  color: white;
}


@media (max-width: 920px) { 
  .skills-grid { 
    grid-template-columns: repeat(2,1fr); 
  } 

}
@media (max-width: 520px) {
  .skills-grid { grid-template-columns: 1fr; }
}